[Unit]
Description=Rolodex Display Daemon
After=network.target

[Service]
Type=simple
ExecStart=/home/alarm/db-fallblattanzeige-web/app.py --host=0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target
