<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>CYBER!</title>

        <!-- Bootstrap -->
        <style>
            @import "{{ url_for('static', filename='css/bootstrap.min.css') }}";
            @import "{{ url_for('static', filename='css/bootstrap-slider.min.css') }}";
            @import "{{ url_for('static', filename='css/selectize.css') }}";
            @import "{{ url_for('static', filename='css/selectize.bootstrap3.css') }}";

            #colorww1Slider .slider-selection,
            #colorww2Slider .slider-selection {
                background: #BABABA;
            }
            #colorww1Slider,
            #colorww2Slider {
                width: 100%;
            }
        </style>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <h1>Cyber-Steuerung v0.1.0</h1>

            <div class="row">
                <div class="col-lg-6">
                    <form class="form-horizontal" id="leftform">
                        <fieldset>
                            <legend>Anzeige links</legend>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="lineLeft">Linie</label>
                                <div class="col-md-8">
                                    <select id="lineLeft" name="lineLeft" class="form-control" data-address="alice:3">
                                    </select><!-- #line1 /.form-control -->
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="destLeft">Ziel</label>
                                <div class="col-md-8">
                                    <select id="destLeft" name="destLeft" class="form-control" data-address="alice:1">
                                    </select><!-- #selectbasic /.form-control -->
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="descLeft">Beschreibung</label>
                                <div class="col-md-8">
                                    <select id="descLeft" name="descLeft" class="form-control" data-address="alice:2">
                                    </select><!-- #selectbasic /.form-control -->
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="colorRGBLeft">Beleuchtung</label>
                                <div class="col-md-3">
                                    <input type="color" id="colorRGBLeft" class="form-control" value="#88cde8" data-address="alice:rgb" />
                                </div>
                                <div class="col-md-3">
                                    <input id="colorWWLeft" data-slider-id='colorWWLeftSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" data-address="alice:ww" />
                                </div>
                                <div class="col-md-3 col-md-offset-4">
                                    <p><small>RGB</small></p>
                                </div>
                                <div class="col-md-3">
                                    <p><small>WW</small></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="signLeftActions"></label>
                                <div class="col-md-8">
                                    <button id="signLeftGo" name="signLeftActions" class="btn btn-primary">Anwenden</button>
                                    <button id="randLeft" name="randLeft" class="btn btn-default">Zufällig</button>
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.form-group -->
                        </fieldset>
                    </form><!-- /.form-horizontal -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <form class="form-horizontal" id="rightform">
                        <fieldset>
                            <legend>Anzeige rechts</legend>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="lineRight">Linie</label>
                                <div class="col-md-8">
                                    <select id="lineRight" name="lineRight" class="form-control" data-address="alice:6">
                                    </select><!-- #line2 /.form-control -->
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="destRight">Ziel</label>
                                <div class="col-md-8">
                                    <select id="destRight" name="destRight" class="form-control" data-address="alice:4">
                                    </select><!-- #selectbasic /.form-control -->
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="descRight">Beschreibung</label>
                                <div class="col-md-8">
                                    <select id="descRight" name="descRight" class="form-control" data-address="alice:5">
                                    </select><!-- #selectbasic /.form-control -->
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="colorRGBRight">Beleuchtung</label>
                                <div class="col-md-3">
                                    <input type="color" id="colorRGBRight" class="form-control" value="#88cde8" data-address="alice:rgb" />
                                </div>
                                <div class="col-md-3">
                                    <input id="colorWWRight" data-slider-id='colorWWRightSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" data-address="alice:ww" />
                                </div>
                                <div class="col-md-3 col-md-offset-4">
                                    <p><small>RGB</small></p>
                                </div>
                                <div class="col-md-3">
                                    <p><small>WW</small></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="signRightActions"></label>
                                <div class="col-md-8">
                                    <button id="signRightGo" name="signRightActions" class="btn btn-primary">Anwenden</button>
                                    <button id="randRight" name="randRight" class="btn btn-default">Zufällig</button>
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.form-group -->
                        </fieldset>
                    </form><!-- /.form-horizontal -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <hr />
            <div class="row">
                <div class="col-lg-12">
                    <h1>Maintenance</h1>
                    <button id="home" type="button" class="btn btn-primary">Home</button>
                    <button id="reset" type="button" class="btn btn-primary">Reset</button>
                </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->

    <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-migrate-1.3.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-slider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io-1.4.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/selectize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cugcontrol.js') }}"></script>
    <script>
        "use strict";

        $(function() {
            $('#colorWWLeft').slider({formatter: function(value) {return value + '%';}});
            $('#colorWWRight').slider({formatter: function(value) {return value + '%';}});
            $('#lineLeft').selectize({create: false, sortField: 'text'});
            $('#lineRight').selectize({create: false, sortField: 'text'});
            $('#destLeft').selectize({create: false, sortField: 'text'});
            $('#destRight').selectize({create: false, sortField: 'text'});
            $('#descLeft').selectize({create: false, sortField: 'text'});
            $('#descRight').selectize({create: false, sortField: 'text'});
        });
    </script>
</body>
</html>
